<html>
<head>
<meta charset="ISO-8859-1" name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css">
<script src = "https://code.jquery.com/jquery-1.8.2.min.js"></script>
<script src ="https://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js" ></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<title>Liberation</title>
</head>
<body>
	<div data-role="page" id="one">
	<div data-role="header" role="header" data-theme="b">
	
	<div style="text-align:center">
	<img id="logo" class="" style="max-width:290px" src=".\..\images\hondaCity.jpg" />
	</div>
		
	</div>
	
	<div data-role="content" data-theme="c">
	
	<fieldset class="ui-grid-a">
		
		<div class="ui-block-a" >									
			<a href="CarProfile.html" data-role="button" data-theme="b" >						
						<i class="fa fa-car fa-3x" ></i>						
						Schedule					
			</a>				
		</div>
		
		<div class="ui-block-b">
			<a href="#carProfile" data-role="button" data-theme="b" >						
						<i class="fa fa-info-circle fa-3x" ></i>
						Profile
			</a>				

		</div>
		
		<div class="ui-block-a">
			<a href="#carProfile" data-role="button" data-theme="b" >						
						<i class="fa fa-history fa-3x" ></i>						
						History					
			</a>				

		</div>
		
		<div class="ui-block-b">
			<a href="#carProfile" data-role="button" data-theme="b" >						
						<i class="fa fa-info fa-3x" ></i>						
						TBD					
			</a>	
		</div>
	</fieldset>
	
	</div>
	
	
	<div data-role="page" id="carProfile">
	<div data-role="header" >
	<a href="#" data-icon="gear" class="ui-btn-right"></a>
	</div>"
	
	<div data-role="content">
	</div>
	
	<div data-role="footer">	
	</div>
	</div>
	
	<div data-role="page" id="carProfile">
	<div data-role="header" >
	</div>"
	
	<div data-role="content">
	</div>
	
	<div data-role="footer">	
	</div>
	</div>
	
	
	
	
</body>
</html>
